

.about-wrapper {
    height: 100vh;
}


.about-left {
    background-color: rgb(83, 10, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-left-content > div {
    background-color: rgb(231, 192, 173);
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
    margin-bottom: 0px;
}

.about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.4);
}

.about-left-content .about-bg-insert {
    background-color: rgb(83, 10, 8);
    height: 30px;
    padding: 0;
    margin: 0;
}

.about-img img {
    display: block;
    width: 200px;
}

.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.shadow::after {
    content: "";
    position: absolute;
    background-color: rgba (0,0,0,0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}

.shadow:hover .about-img {
    transform: translateY(-10px);
}
.about-left-content h2 {
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
}

.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.icons {
    background-color: rgb(231, 192, 173);
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    margin: 0;
}

.icons li {
    list-style-type: none;
    background-color: rgb(83, 10, 8);
    color: white;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li:hover {
    background-color: rgb(208,136,93);
    color: rgb(83, 10, 8);
}

.about-right {
    background-color: rgb(231, 192, 173);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}


.about-right h1 {
    font-size: 7rem;
    font-weight: 300;
    text-transform: uppercase;
}

.about-right h2 {
    font-weight: 300;
}

.about-btns {
    display: flex;
    margin: 2rem 0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background-color: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}

.btn.btn-red {
    background-color: rgb(83, 10, 8);
    color: white;
    border-color: rgb(83, 10, 8);
    transition: all 0.5s ease-in-out;
}

.btn.btn-red:hover {
    background-color: transparent;
    border-color: rgb(83, 10, 8);
    color: black;
}

.about-para p {
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left {
        position: relative;
    }
    .about-left-content {
        position: absolute;
        right: -50px;
    }
}