
.progress-circle-list li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.progress-circle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.skills{
    /* width: 160px;
    height: 160px;
    position: relative; */

    
    flex: 1 1 calc(33.333% - 20px); /* Adjusts the width to allow multiple items per row */
    margin: 30px 10px;
    max-width: 160px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column; /* Stack circle and name vertically */
    align-items: center;
}


.progress-circle-outer{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 20px;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(83, 10, 8, 0.6); */
    position: relative;
    z-index: 1;
}

.progress-circle-inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(83, 10, 8, 0.7),
                -0.5px -0.5px 0px rgba(83, 10, 8, 1),
                0.5px 0.5px 0px rgba(83, 10, 8, 0.15),
                0px 12px 10px -10px rgba(83, 10, 8, 0.05); */
    margin-bottom: 25px;
}

.progress-circle-number {
    font-weight: 600;
    color: rgb(165, 75, 53);
}

circle {
    fill: none;
    /* stroke: rgb(208,136,93);
    stroke: rgb(165, 75, 53); */
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.circ-name {
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}

.circle-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
}

.circAnim-5 {
    animation: circAnim-5 1.5s linear forwards;
}

@keyframes circAnim-5 {
    100%{
        stroke-dashoffset: 418;
    }
    
}

.c-10 {
    animation: circAnim-10 1.5ss linear forwards;
}

@keyframes circAnim-10 {
    100%{
        stroke-dashoffset: 396;
    }
    
}

.c-15 {
    animation: circAnim-15 1.5s linear forwards;
}

@keyframes circAnim-15 {
    100%{
        stroke-dashoffset: 374;
    }
    
}

.c-20 {
    animation: circAnim-20 1.5s linear forwards;
}

@keyframes circAnim-20 {
    100%{
        stroke-dashoffset: 352;
    }
    
}

.c-25 {
    animation: circAnim-25 1.5s linear forwards;
}

@keyframes circAnim-25 {
    100%{
        stroke-dashoffset: 330;
    }
    
}

.c-30 {
    animation: circAnim-30 1.5s linear forwards;
}

@keyframes circAnim-30 {
    100%{
        stroke-dashoffset: 308;
    }
    
}

.c-35 {
    animation: circAnim-35 1.5s linear forwards;
}

@keyframes circAnim-35 {
    100%{
        stroke-dashoffset: 286;
    }
    
}

.c-40 {
    animation: circAnim-40 1.5s linear forwards;
}

@keyframes circAnim-40 {
    100%{
        stroke-dashoffset: 264;
    }
    
}

.c-45 {
    animation: circAnim-45 1.5s linear forwards;
}

@keyframes circAnim-45 {
    100%{
        stroke-dashoffset: 242;
    }
    
}

.c-50 {
    animation: circAnim-50 1.5s linear forwards;
}

@keyframes circAnim-50 {
    100%{
        stroke-dashoffset: 220;
    }
    
}

.c-55 {
    animation: circAnim-55 1.5s linear forwards;
}

@keyframes circAnim-55 {
    100%{
        stroke-dashoffset: 198;
    }
    
}

.c-60 {
    animation: circAnim-60 1.5s linear forwards;
}

@keyframes circAnim-60 {
    100%{
        stroke-dashoffset: 176;
    }
    
}

.c-65 {
    animation: circAnim-65 1.5s linear forwards;
}

@keyframes circAnim-65 {
    100%{
        stroke-dashoffset: 154;
    }
    
}

.c-70 {
    animation: circAnim-70 1.5s linear forwards;
}

@keyframes circAnim-70 {
    100%{
        stroke-dashoffset: 132;
    }
    
}

.c-75 {
    animation: circAnim-75 1.5s linear forwards;
}

@keyframes circAnim-75 {
    100%{
        stroke-dashoffset: 110;
    }
    
}

.c-80 {
    animation: circAnim-80 1.5s linear forwards;
}

@keyframes circAnim-80 {
    100%{
        stroke-dashoffset: 88;
    }
    
}

.c-85 {
    animation: circAnim-85 1.5s linear forwards;
}

@keyframes circAnim-85 {
    100%{
        stroke-dashoffset: 66;
    }
    
}

.c-90 {
    animation: circAnim-90 1.5s linear forwards;
}

@keyframes circAnim-90 {
    100%{
        stroke-dashoffset: 44;
    }
    
}

.c-95 {
    animation: circAnim-95 1.5s linear forwards;
}

@keyframes circAnim-95 {
    100%{
        stroke-dashoffset: 22;
    }
    
}

.c-100 {
    animation: circAnim-100 1.5s linear forwards;
}

@keyframes circAnim-100 {
    100%{
        stroke-dashoffset: 0;
    }
    
}
/* 440-440* */








.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bar .progress-bar {
    stroke-width: 10;
    stroke: white;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-radial-bar 1s linear forwards;
}

@keyframes animate-radial-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


.radial-bar .text {
    position: absolute;
    top: 0;
    left: 25%;
    color: rgb(165, 75, 53);
    font-size: 17px;
    font-weight: 500;
}


.progress-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.path{
    stroke-width: 10;
    stroke: rgb(165, 75, 53);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-5 {
    animation: animate-path-5 1s 1s linear forwards;
}
@keyframes animate-path-5 {
    100% {
        stroke-dashoffset: 476.9;
    }
}

.path-10 {
    animation: animate-path-10 1s 1s linear forwards;
}
@keyframes animate-path-10 {
    100% {
        stroke-dashoffset: 451.8;
    }
}

.path-15 {
    animation: animate-path-15 1s 1s linear forwards;
}
@keyframes animate-path-15 {
    100% {
        stroke-dashoffset: 426.7;
    }
}

.path-20 {
    animation: animate-path-20 1s 1s linear forwards;
}
@keyframes animate-path-20 {
    100% {
        stroke-dashoffset: 401.6;
    }
}

.path-25 {
    animation: animate-path-25 1s 1s linear forwards;
}
@keyframes animate-path-25 {
    100% {
        stroke-dashoffset: 376.5;
    }
}

.path-30 {
    animation: animate-path-30 1s 1s linear forwards;
}
@keyframes animate-path-30 {
    100% {
        stroke-dashoffset: 351.4;
    }
}


.path-35 {
    animation: animate-path-35 1s 1s linear forwards;
}
@keyframes animate-path-35 {
    100% {
        stroke-dashoffset: 326.3;
    }
}

.path-40 {
    animation: animate-path-40 1s 1s linear forwards;
}
@keyframes animate-path-40 {
    100% {
        stroke-dashoffset: 301.2;
    }
}

.path-45 {
    animation: animate-path-45 1s 1s linear forwards;
}
@keyframes animate-path-45 {
    100% {
        stroke-dashoffset: 276.1;
    }
}

.path-50 {
    animation: animate-path-50 1s 1s linear forwards;
}
@keyframes animate-path-50 {
    100% {
        stroke-dashoffset: 251;
    }
}

.path-55 {
    animation: animate-path-55 1s 1s linear forwards;
}
@keyframes animate-path-55 {
    100% {
        stroke-dashoffset: 225.9;
    }
}


.path-60 {
    animation: animate-path-60 1s 1s linear forwards;
}
@keyframes animate-path-60 {
    100% {
        stroke-dashoffset: 200.8;
    }
}

.path-65 {
    animation: animate-path-65 1s 1s linear forwards;
}
@keyframes animate-path-65 {
    100% {
        stroke-dashoffset: 175.7;
    }
}

.path-70 {
    animation: animate-path-70 1s 1s linear forwards;
}
@keyframes animate-path-70 {
    100% {
        stroke-dashoffset: 150.6;
    }
}

.path-75 {
    animation: animate-path-75 1s 1s linear forwards;
}
@keyframes animate-path-75 {
    100% {
        stroke-dashoffset: 125.5;
    }
}

.path-80 {
    animation: animate-path-80 1s 1s linear forwards;
}
@keyframes animate-path-80 {
    100% {
        stroke-dashoffset: 100.4;
    }
}

.path-85 {
    animation: animate-path-85 1s 1s linear forwards;
}
@keyframes animate-path-85 {
    100% {
        stroke-dashoffset: 75.3;
    }
}

.path-90 {
    animation: animate-path-90 1s 1s linear forwards;
}
@keyframes animate-path-90 {
    100% {
        stroke-dashoffset: 50.2;
    }
}

.path-95 {
    animation: animate-path-95 1s 1s linear forwards;
}
@keyframes animate-path-95 {
    100% {
        stroke-dashoffset: 25.1;
    }
}

.path-100 {
    animation: animate-path-100 1s 1s linear forwards;
}
@keyframes animate-path-100 {
    100% {
        stroke-dashoffset: 0;
    }
}