.form-submit input {
    width: 100%;
    border-radius: 10px;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    border-color: #dbdbdb;
    color: rgba(83, 10, 8, 0.6);
    font-family: 'Bitter', serif;
    box-shadow: inset 0 .0625em .125em rgb(83, 10, 8);
    padding: 20px calc(.75em - 1px);
}

.form-submit textarea {
    width: 100%;
    border-radius: 10px;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    border-color: #dbdbdb;
    color: rgba(83, 10, 8, 0.6);
    font-family: 'Bitter', serif;
    box-shadow: inset 0 .0625em .125em rgb(83, 10, 8);
    padding: 20px calc(.75em - 1px);
}
.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 100%;
    font-size: 1.5rem;
}
.form-row .form-control:focus,
.form-submit input:focus {
    outline: 0;
    border-color: rgba(158, 54, 5, 0.795);
}
.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    border-color: rgba(158, 54, 5, 0.795);
}


/* @media only screen and (max-width: 993px){
    .form-submit{
        width: 100%;
    }

    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }

    .form-row .form-control {
        margin-top: 5px;
    }

    .form-row button {
        width: 100%;
        padding: 20px 0px;
    }
} */

form button {
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    border-color: #dbdbdb;
    font-family: 'Bitter', serif;
    width: 100%;
    background-color: rgba(106, 21, 20, 0.541);
    border: none;
    color: rgb(208,136,93);
    font-size: 20px;
}
